@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800";

$black: #000;
$white: #fff;
$mainBG: #1e2832;
$mainBGHover: #2a3848;
$skyAppLink: #61dafb;
$appBG: #0a182a;
$containerBGColor: #032a39;
$danger: rgb(234, 33, 39);
$tomato: #ff6565;
$tomatoLight: #e44944;
$lightWhite: #f5f5f5;
$grey: #808080;
$blue1: #009eb3;
$blue2: #0977a2;
$blue3: #014a62;
$blue4: #067faa;
$blue5: #055b7c;
$blue6: #00bbff;
$blue7: #0565ff;
$blue8: #025170;
$blue9: #04445d;
$blue10: #0b8dbe;
$blue11: #11a1a1;
$scrollThumbBG: #070707;
$borderItem: #f6f6f6;
$prop20: 20px;
$appHeaderBG: #282c34;
$darkBlue: #04384c;
$cardBG: #0a303d;
$lightBlue: #05f5ff;
$lightGreen: #66ff00;
$darkBlack: #252525;
$lightGrey: #6c757d;
$circleBorder: #ccc;
$tableShadow: #dee2e6;
$darkPurple: #8400ff;
$darkCyan: #00ffff;
$cardBG: #04455f;
$cardBox: #045473;
$navyBlue: #0a182b;
$tableButton: #0564ff;
$navyBlue: #044057;
$chartCardBG: #0c4458;
$yellow: #ffeb00;
$greenBG: #107526;
$redBG: #b41a0f;
$cardColor: #0e9cd1;
$statusLabel: #7c7c7c;
$navbar: #045b7b;
$greyWhite: #ddd;
$blocks: #055c7f;
$blockBG: #033347;
$modelBG: #02404f;
$yellowLabel: #ffc107;
$cardContent: #03384d;
$subHeaderBG: #b9b7b7;
$cardLabelGrey: #f9f9f9;
$navbarColor: #c9c9c9;
$lightPurple: #c46ed7;
$red: #ff0000;
$orange: #ffa500;
$rectCard: #022a39;
$rectBG: #044965;
$disabled: #808080;
$sidebarList: #45515f;
$sidebarSelected: #04394D;
$buttonText: #1e2833;
$buttonTextBG: #a7d5ff;
$buttonGroupBorder: #708394;


$PrimaryFonts: 'Open Sans', 'Helvetica Neue', sans-serif;

$code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
