.tracking-map {
    width: 100%;
    height: 60vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }

  .pin-text {
    font-size: 1.3em;
  }
  
  .pin-icon {
    font-size: 2rem;
  }
  
  @media screen and (min-width: 799px) {
    .tracking-map {
      height: 60vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 3vw;
    }
  }